html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(39, 32, 175) 0%, rgb(75, 42, 208) 13%, rgba(9,121,51,1) 35%, rgba(6,156,123,0.7777704831932774) 60%, rgba(0,212,255,1) 100%);
    font-family:'Lucida Sans';
}

.StructureDiv{
    margin-left: 6vw;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 5vw;
}

.starsUl{
    display: flex;
    width: 18vw;
    justify-content: space-around;
    margin: 5px;
    align-items: center;
    height: 5vh;
}

.movesDiv{
    display:flex;
    font-size: 25px;
}
.movesDiv p {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

h1 {
    font-weight: 300;
}

/* Styles for the deck */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #291eff 0%, #d7da0b 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(58, 120, 171, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #d041ff;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #06756b;
    font-size: 33px;
}


/* Styles for the Score Panel */


.score-panel {
    display: flex;
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.gold-star{color: rgba(209, 13, 36, 0.877)}

.score-panel .restart {
    float: right;
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
}

.restart i{
    color: rgb(255, 230, 0);
    margin: 10px;
}

#basicUsage{
    font-size: 20px;
}
/* Popup */
.popup {
    background: #02ccba;
    z-index: 1;
    display: none;
    margin: 0 auto;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0;
    top: 0;
}

.content {
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.562);
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.close {
    color: #000;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
